footer {
  margin-top: auto;
  background: black;
  color: #888;
  min-height: 100px;
  padding: 20px 0;

  .footer__wrapper {
    width: 80%;
    margin: 0 auto;

    .footer__arrow-and-section-name {
      display: flex;

      .footer__section-name {
        margin-left: 5px;
        a {
          color: #888;
          text-decoration: none;
        }
      }

      .footer__arrow-right {
        width: 15px;
        height: 15px;
        align-self: center;
        fill: #888;
      }

      &:hover {
        cursor: pointer;
        .footer__section-name a {
          color: white;
          cursor: pointer;
        }
        .footer__arrow-right {
          fill: white;
        }

      }

    }


    .footer__created-by {
      margin-top: 10px;
      color: #888;

      a {
        color: #888;

        &:hover {
          color: white;
        }
      }
    }
  }
}