header{
  user-select: none;
  background: #555555;
  position: sticky;
  top: 0;

  .header__container {
    max-width: 1100px;
    width: 80%;
    margin: auto;
    color: #ddd;
    display: flex;
    justify-content: space-between;

    .header__link-wrapper {
      a {
        border: none;
        font-size: 2em;
        font-weight: 600;
        color: #3399ff;
        text-decoration: none;

        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
    }

    .link-wrapper {
      align-self: center;
    }

    #header {
      overflow: auto;
    }

    //.header__textForDesktop {
    //  max-width: 80%;
    //  margin: 0 auto;
    //}

  }
}


