@import "../default";

.information-with-photo__wrapper {
  display: flex;
  height: 200px;
  width: 48%;
  border: 1px solid;
  border-radius: 5px;
  margin: 10px 0;
  cursor: pointer;

  @include tabletResolution {
    width: 100%;
  }

  .information-with-photo__photo-wrapper {
    width: 40%;
    display: flex;
    justify-content: center;
    align-content: center;

    .information-with-photo__photo {
      max-width:100%;
      max-height:100%;
      height:auto;
      object-fit: contain;
    }
  }

  .information-with-photo__data-wrapper {
    width: 60%;
    background: grey;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
  }

}