//$breakpoint-tablet: 768px;
$max-desktop-width: 1500px;
$breakpoint-desktop: 1100px;
$breakpoint-mobile: 600px;
$breakpoint-mobile-very-small-width: 450px;
$height-small: 1000px;
$height-very-small: 1000px;

@mixin tabletResolution {
  @media (max-width: #{$breakpoint-desktop}) {
    @content;
  }
}

@mixin phoneResolution {
  @media (max-width: #{$breakpoint-mobile}) {
    @content;
  }
}

@mixin phoneResolutionVerySmallWidth {
  @media (max-width: #{$breakpoint-mobile-very-small-width}) {
    @content;
  }
}

@mixin smallHeight {
  @media (max-height: #{$height-small}) {
    @content;
  }
}

@mixin verySmallHeight {
  @media (max-height: #{$height-very-small}) {
    @content;
  }
}