@import "pages/notFoundPage";
@import "pages/login";
@import "pages/allPhotos";
@import "pages/welcome";
@import "pages/uploadImage";
@import "pages/menu";
@import "components/footer";
@import "components/header";
@import "components/informationWithImage";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  background-color: #1f293a;
  min-height: 100vh;
  height: 100%;
  color: #ddd;
}

#content_and_footer_wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}

#page_wrapper {
  width: 80%;
  margin: 0 auto;
}

input[type=file],
input[type=submit],
button {
    background: #50005a;
    border: 1px solid #50005a;
    color: white;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
  &:active {
    background: #a70cbe;;
  }
}

.link-wrapper {
  a {
    background: transparent;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, #fb3569 45%, #3399ff 55%);
    background-size: 100% 220%;
    background-position: 50% 100%;
    border: none;
    font-size: 2.5rem;
    font-weight: 600;
    //color: #3399ff;
    color: transparent;
    -webkit-background-clip: text;
    transition: 0.5s ease-out;

    &:hover {
      background-position: 50% 0;
    }

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}



